In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
from numpy import arange
from numpy import reshape

In [3]:
np.random.seed(101)

In [4]:
df=pd.DataFrame(randn(5,5),index=['A','B','C','D','E'],columns=['F','G','H','I','J'])

In [5]:
df

          F         G         H         I         J
A  2.706850  0.628133  0.907969  0.503826  0.651118
B -0.319318 -0.848077  0.605965 -2.018168  0.740122
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [6]:
dp=pd.DataFrame(arange(1,10).reshape(3,3),index=['A','B','C'],columns=['E','F','G'])
dp

   E  F  G
A  1  2  3
B  4  5  6
C  7  8  9

In [7]:
dp.shape

(3, 3)

In [8]:
df['F']

A    2.706850
B   -0.319318
C    0.528813
D    0.955057
E    0.302665
Name: F, dtype: float64

In [9]:
df[['F','J']]

          F         J
A  2.706850  0.651118
B -0.319318  0.740122
C  0.528813 -0.933237
D  0.955057  0.683509
E  0.302665 -0.134841

In [10]:
df.F

A    2.706850
B   -0.319318
C    0.528813
D    0.955057
E    0.302665
Name: F, dtype: float64

In [11]:
type(df.F)

pandas.core.series.Series

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df['New']=df['F']+df['G']

In [14]:
df

          F         G         H         I         J       New
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.334983
B -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.167395
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.060187
D  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841  1.996388

In [15]:
df

          F         G         H         I         J       New
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.334983
B -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.167395
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.060187
D  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841  1.996388

In [16]:
df.loc['A']

F      2.706850
G      0.628133
H      0.907969
I      0.503826
J      0.651118
New    3.334983
Name: A, dtype: float64

In [17]:
df.loc['A','I']

0.5038257538223936

In [18]:
df.iloc[0][1]

0.6281327087844596

In [19]:
df.loc[['A','B'],['H','I']]

          H         I
A  0.907969  0.503826
B  0.605965 -2.018168

In [20]:
df>0

       F      G      H      I      J    New
A   True   True   True   True   True   True
B  False  False   True  False   True  False
C   True  False   True  False  False  False
D   True   True   True   True   True   True
E   True   True  False  False  False   True

In [21]:
Boolean=df>0

In [22]:
df[Boolean]

          F         G         H         I         J       New
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.334983
B       NaN       NaN  0.605965       NaN  0.740122       NaN
C  0.528813       NaN  0.188695       NaN       NaN       NaN
D  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851
E  0.302665  1.693723       NaN       NaN       NaN  1.996388

In [23]:
df[df>1]

         F         G         H         I   J       New
A  2.70685       NaN       NaN       NaN NaN  3.334983
B      NaN       NaN       NaN       NaN NaN       NaN
C      NaN       NaN       NaN       NaN NaN       NaN
D      NaN       NaN  1.978757  2.605967 NaN  1.145851
E      NaN  1.693723       NaN       NaN NaN  1.996388

In [24]:
df['H']>1

A    False
B    False
C    False
D     True
E    False
Name: H, dtype: bool

In [25]:
df[df['H']>1]

          F         G         H         I         J       New
D  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851

In [26]:
df[df['H']>1]['I']

D    2.605967
Name: I, dtype: float64

In [27]:
df[(df['J']>0) & (df['I']>0)]

          F         G         H         I         J       New
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.334983
D  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851

In [28]:
df[(df['H']>0) & (df['I']>1)][['J','I','H']]

          J         I         H
D  0.683509  2.605967  1.978757

In [29]:
df

          F         G         H         I         J       New
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.334983
B -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.167395
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.060187
D  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841  1.996388

In [30]:
df.reset_index()

  index         F         G         H         I         J       New
0     A  2.706850  0.628133  0.907969  0.503826  0.651118  3.334983
1     B -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.167395
2     C  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.060187
3     D  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851
4     E  0.302665  1.693723 -1.706086 -1.159119 -0.134841  1.996388

In [31]:
New='Aa Bb Cc Dd Ee'.split()
New

['Aa', 'Bb', 'Cc', 'Dd', 'Ee']

In [32]:
df['Letters']=New

In [33]:
df.set_index('Letters',inplace=False)

                F         G         H         I         J       New
Letters
Aa       2.706850  0.628133  0.907969  0.503826  0.651118  3.334983
Bb      -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.167395
Cc       0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.060187
Dd       0.955057  0.190794  1.978757  2.605967  0.683509  1.145851
Ee       0.302665  1.693723 -1.706086 -1.159119 -0.134841  1.996388

In [34]:
df

          F         G         H         I         J       New Letters
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.334983      Aa
B -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.167395      Bb
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.060187      Cc
D  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851      Dd
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841  1.996388      Ee

In [35]:
df.set_index('Letters',inplace=True)

In [36]:
df

                F         G         H         I         J       New
Letters
Aa       2.706850  0.628133  0.907969  0.503826  0.651118  3.334983
Bb      -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.167395
Cc       0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.060187
Dd       0.955057  0.190794  1.978757  2.605967  0.683509  1.145851
Ee       0.302665  1.693723 -1.706086 -1.159119 -0.134841  1.996388

In [37]:
import numpy as np
import pandas as pd
from numpy import random
from numpy.random import randn
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [38]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [39]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [40]:
df=pd.DataFrame(random.randn(6,2),index=hier_index,columns=('A','B'))

In [41]:
df

             A         B
G1 1  0.390528  0.166905
   2  0.184502  0.807706
   3  0.072960  0.638787
G2 1  0.329646 -0.497104
   2 -0.754070 -0.943406
   3  0.484752 -0.116773

In [42]:
df.loc['G1']

          A         B
1  0.390528  0.166905
2  0.184502  0.807706
3  0.072960  0.638787

In [43]:
df.loc[['G1','G2'],['A']]

             A
G1 1  0.390528
   2  0.184502
   3  0.072960
G2 1  0.329646
   2 -0.754070
   3  0.484752

In [44]:
df.loc['G1']['A']

1    0.390528
2    0.184502
3    0.072960
Name: A, dtype: float64

In [45]:
df.index.names

FrozenList([None, None])

In [46]:
df.index.names=['Index1','Index2']
df

                      A         B
Index1 Index2
G1     1       0.390528  0.166905
       2       0.184502  0.807706
       3       0.072960  0.638787
G2     1       0.329646 -0.497104
       2      -0.754070 -0.943406
       3       0.484752 -0.116773

In [47]:
df.xs('G1')

               A         B
Index2
1       0.390528  0.166905
2       0.184502  0.807706
3       0.072960  0.638787

In [48]:
df.xs(['G1',1])

A    0.390528
B    0.166905
Name: (G1, 1), dtype: float64

In [49]:
df

                      A         B
Index1 Index2
G1     1       0.390528  0.166905
       2       0.184502  0.807706
       3       0.072960  0.638787
G2     1       0.329646 -0.497104
       2      -0.754070 -0.943406
       3       0.484752 -0.116773

In [50]:
df.xs('A',axis=1)

Index1  Index2
G1      1         0.390528
        2         0.184502
        3         0.072960
G2      1         0.329646
        2        -0.754070
        3         0.484752
Name: A, dtype: float64

In [51]:
df.xs('G1',level='Index1')

               A         B
Index2
1       0.390528  0.166905
2       0.184502  0.807706
3       0.072960  0.638787

In [52]:
df.xs(1,level='Index2')

               A         B
Index1
G1      0.390528  0.166905
G2      0.329646 -0.497104

In [53]:
df.xs(['G1',1])

A    0.390528
B    0.166905
Name: (G1, 1), dtype: float64

In [54]:
df.xs(['G2',3])

A    0.484752
B   -0.116773
Name: (G2, 3), dtype: float64

In [55]:
df.xs('B',axis=1)

Index1  Index2
G1      1         0.166905
        2         0.807706
        3         0.638787
G2      1        -0.497104
        2        -0.943406
        3        -0.116773
Name: B, dtype: float64