In [1]:
import numpy as np
import pandas as pd

In [2]:
l=['a','b','c']
m=[10,20,30]
n=np.array([20,30,40])
d={'a':70,'b':80,'c':90}

In [3]:
pd.Series(l)

0    a
1    b
2    c
dtype: object

In [4]:
n

array([20, 30, 40])

In [5]:
pd.Series(m)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(n)

0    20
1    30
2    40
dtype: int32

In [7]:
pd.Series(d)

a    70
b    80
c    90
dtype: int64

In [8]:
pd.Series(data=l,index=m)

10    a
20    b
30    c
dtype: object

In [9]:
pd.Series(data=m,index=m)

10    10
20    20
30    30
dtype: int64

In [10]:
pd.Series(data=m,index=n)

20    10
30    20
40    30
dtype: int64

In [11]:
pd.Series(l,m)

10    a
20    b
30    c
dtype: object

In [12]:
pd.Series(m,m)

10    10
20    20
30    30
dtype: int64

In [13]:
pd.Series(m,n)

20    10
30    20
40    30
dtype: int64

In [14]:
pd.Series(data=d)

a    70
b    80
c    90
dtype: int64

In [15]:
pd.Series(data=l)

0    a
1    b
2    c
dtype: object

In [16]:
pd.Series([sum,print,int])

0      <built-in function sum>
1    <built-in function print>
2                <class 'int'>
dtype: object

In [17]:
ser1=pd.Series(data=[10,20,30],index=['a','b','c'])
ser1

a    10
b    20
c    30
dtype: int64

In [18]:
ser2=pd.Series(data=[10,20,30],index=['d','e','c'])
ser2

d    10
e    20
c    30
dtype: int64

In [19]:
ser1 + ser2

a     NaN
b     NaN
c    60.0
d     NaN
e     NaN
dtype: float64